---
---
<div class="relative w-full h-[77vh] overflow-hidden group">
    <img src="https://images.unsplash.com/photo-1731695036431-8a03452db13b?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"


    class="absolute inset-0 w-full h-full object-cover transition-transform duration-900 group-hover:scale-105 opacity-70   "
         alt="Hero BackgroundFotografia de Jonny Gios capturada através de um arco de tijolos em primeiro plano, criando uma moldura natural para um edifício histórico de tons terrosos sob um céu nublado.">

    <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4 z-10">
        <span class="font-sans text-brand text-xs md:text-xl uppercase tracking-[0.3em] mb-4 px-2 py-1">
            Documentando minha Jornada
        </span>
        <!-- <h1 class="font-condensed text-7xl md:text-[9rem] font-bold text-white uppercase leading-[0.85] tracking-tighter drop-shadow-2xl mix-blend-screen">
            EVOLUÇÃO<br>VISUAL
        </h1> -->
    </div>

</div>


    <!-- src="https://images.unsplash.com/photo-1709732434866-b2b771ed7e7e?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" -->

    Semana-2-Café-Preto-Sombras-e-Silêncios

    Semana 5, 6 e 7: Sintetizando tudo para dar sequência